page-city {

}
.menu-bg{
    background-image: url('../assets/imgs/menubar-2.png')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.city-background {
    background: url('../assets/backgrounds/mariott.png') no-repeat fixed center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    
}
    

.upper-margin{
    margin-top: 65%;
}

