page-home {

}

.home-menu-background {
    background-image: url('../assets/BG2B.png');
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

.button-margin{
    margin-top: 30%
}

ion-img {
    display: inline-block;
    min-width: 10%;
    min-height: 10%;
    float: left;
    contain: strict;
}
    
    .trans
    {
        background: transparent;
    }