ionic cordova build --release androidpage-schedule-modal {

}

.text-color{
    color:    #086425
}

.background{
    background-color:    #dbdddc
}

.background-details{
    background-color:    #00843f;
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    display: block;
}

.title-padding{
    padding-left: 5%;
    padding-right: 5%;
}
